.orderCart {
  width: 500px;
  margin: 50px auto;
}
.orderButton {
  width: 150px;
  box-sizing: border-box;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  height: 30px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.499;
  position: relative;
  display: block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  margin: 20px auto;
}
.orderButton:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
