.list {
  height: auto;
  text-align: center;
  padding: 6px;
}

.restaurant {
  padding: 6px 12px;
  cursor: pointer;
}
.restaurant:hover {
  color: #b3b797;
}

.active {
  color: #debb6c;
  border-bottom: 2px solid #debb6c;
}
